<div class="mb-6">
  <h1 class="mb-2 text-2xl">PABLO ALBORAN</h1>
  <div class="flex justify-between">
    <p>30/09/2015</p>
    <div class="flex gap-4">
      <p>x2</p>
      <img class="h-5" src="../../../assets/img/trash.png" alt="trash" />
    </div>
  </div>
  <div class="flex justify-between">
    <p>30/09/2015</p>
    <div class="flex gap-4">
      <p>x2</p>
      <img class="h-5" src="../../../assets/img/trash.png" alt="trash" />
    </div>
  </div>
</div>
<div class="mb-6">
  <h1 class="mb-2 text-2xl">JOAN MANUEL SERRAT</h1>

  <div class="flex justify-between">
    <p>30/09/2015</p>
    <div class="flex gap-4">
      <p>x2</p>
      <img class="h-5" src="../../../assets/img/trash.png" alt="trash" />
    </div>
  </div>
</div>
