<div class="border py-3 px-4">
  <ul class="flex flex-col gap-4">
    <li
      class="flex justify-between items-center gap-1"
      *ngFor="let eventDate of eventDates?.sessions"
    >
      <p class="text-sm md:text-lg">
        {{ eventDate.date | date: "shortDate" }}, Disponibilidad:
        {{ eventDate.availability }}
      </p>
      <div class="flex items-center gap-2">
        <ng-container *ngIf="cartService.cart$ | async as cartEvent">
          <button
            class="text-[#008cba] font-bold text-xl md:text-2xl"
            (click)="this.decrement(eventDate.date)"
            [disabled]="cartEvent?.[id]?.[eventDate.date] == 0"
          >
            -
          </button>
          <p class="md:text-xl">{{ cartEvent?.[id]?.[eventDate.date] || 0 }}</p>
          <button
            class="text-[#008cba] font-bold text-xl md:text-2xl"
            (click)="this.increment(eventDate.date)"
            [disabled]="cartEvent?.[id]?.[eventDate.date] == eventDate.availability"
          >
            +
          </button>
        </ng-container>
      </div>
    </li>
  </ul>
</div>
