<div class="border py-3 px-4">
  <ul class="flex flex-col gap-4">
    <li
      class="flex justify-between items-center gap-1"
      *ngFor="let eventDate of eventDates?.sessions"
    >
      <p class="text-sm md:text-lg">
        {{ eventDate.date | date: "shortDate" }}, Disponibilidad:
        {{ eventDate.availability }}
      </p>
      <div class="flex items-center gap-2">
        <ng-container *ngIf="cartService.cart$ | async as cartEvent">
          <button
            class="text-[#008cba] font-bold text-xl md:text-2xl"
            (click)="cartService.decrement(id, eventDate.date)"
            [disabled]="cartEvent?.[id]?.dates?.[eventDate.date] == 0"
          >
            -
          </button>
          <p class="md:text-xl">
            {{ cartEvent?.[id]?.dates?.[eventDate.date] || 0 }}
          </p>
          <button
            class="text-[#008cba] font-bold text-xl md:text-2xl"
            (click)="cartService.increment({title: eventDates?.event?.title, eventId: id}, eventDate.date)"
            [disabled]="cartEvent?.[id]?.dates?.[eventDate.date] == eventDate.availability"
          >
            +
          </button>
        </ng-container>
      </div>
    </li>
  </ul>
</div>
