<div class="mx-4 mt-6 md:mx-52">
  <a class="text-[#008cba] text-right" [routerLink]="'..'">Volver</a>
  <div
    class="flex flex-col gap-4 md:flex md:flex-row md:gap-12 md:justify-center mt-4"
  >
    <ng-container
      *ngIf="selectedEvent$ | async as selectedEvent; else emptyState"
    >
      <app-sessions-list
        [eventDates]="selectedEvent"
        class="w-full"
      ></app-sessions-list>
    </ng-container>

    <ng-template #emptyState>
      <div>Event not found</div>
    </ng-template>

    <app-cart class="w-full"></app-cart>
  </div>
</div>
